* {
    box-sizing: inherit;
}
nav {
    position:relative;
    min-height: 50px;
    background: #000000;
    padding-left: 0px;
}
body {
    text-align: center;
    font-family: sans-serif;
}
nav.logo {
    float:left;
    padding: 10px;
    display: block;
}
nav.a {
    color:#fff;
}
img {
    border-style: none;
}
nav.search {
    float: left;
    display: inline-flex;
}
.container {
    background-color: #b4c8ce;
    max-width: 1200px;
    display: block;
}
.gallery {
    width: 19%;
    margin: 3px;
    display:inline-block;
}